doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .cabecera
      a(href='cotilla/1/list?page=1') Cotilla
      &nbsp;|&nbsp;
      a(href='json') JSON
      &nbsp;|&nbsp;
      a(href='users') users
      &nbsp;|&nbsp;
      a(href='form') form

    block content
