extends layout

block content
  h1= title
  form(action='form')
    label(for='nombre') Nombre:
    input#nombre(type="text" name="nombre" value=nombre)
    label Apellidos:
      input(type="text" name="apellidos" value=apellidos)
    input(type="submit" value="Enviar")
